@font-face {
    font-family: "ReemKufi";
    src: url("./assets/fonts/REEMKUFI-REGULAR.TTF");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ReemKufi";
    src: url("./assets/fonts/REEMKUFI-BOLD.TTF");
    font-weight: bold;
    font-style: normal;
}
:root{
    --dark-bg:#37332c; /* Il n'y aura pas de thème clair à cause des couleurs claires du logo, désolé :3 */
    --dark-header-bg: #252421;
    --topic-color: rgb(71, 71, 235);
}
body{
    background-color: var(--dark-bg);
    font-family: "ReemKufi";
    color: white;
    margin-top: 40%; /* Désolé */
}
.header{
    background-color: var(--dark-header-bg);
    position: fixed;
    height: 10%;
    width: 100%;
    inset: 0;
    border-bottom: solid 1px rgb(241, 213, 120);
    display: flex;
    align-items: center;
    padding: 10px;
}
.sub-header{
    position: fixed;
    top: 10%;
    left: 0;
    background-color: var(--dark-header-bg);
    height: 6%;
    width: 100%;
    border-top: solid 1px rgb(241, 213, 120);
    border-bottom: solid 1px rgb(241, 213, 120);
    display: flex;
    align-items: center;
    padding: 10px;
}
.main-logo-icon{
    height: 40%;
    margin-left: 5px;
}
.main-logo{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main-logo:hover{
    background-color: rgba(153, 153, 153, 0.308);
}
.main-logo-text{
    font-size: large;
    margin-left: 15px;
    width: 20rem;
    height: fit-content;
}
.header-tools{
    position: absolute;
    right: 50px;
}
.search-div{
    display: flex;
}
.search{
    background-color: var(--dark-bg);
    height: 30px;
    width: 150px;
    border: none;
    border-bottom: solid 2px rgb(241, 213, 120);
    outline: none;
    color: white;
    font-family: "ReemKufi";
}
.search-icon{
    height: 34px;
    width: 30px;
    border-top-left-radius: 20px;
    background-color: rgb(241, 213, 120);
    display: flex;
    align-items: center;
    justify-content: center;
}
.errors{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10%;
    z-index: 2;
}
.error{
    margin-top: 5px; /* Au cas où on a plusieurs erreurs en même temps */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 105, 105);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.podcast{
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    height: fit-content;
    padding-bottom: 30px;
    width: 600px;
    background-color: #252421;
    border-radius: 5px;
}
.thumbnail-podcast{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topic{
    color: var(--topic-color);
}
.podcast-row{
    display: flex;
    margin-top: 10px;
}
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 10pt;
    color: gray;
}
    .player {
      width: 100%;
      background: #f5d271;
      color: gray;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
    }

    button {
      border: none;
      background: #a67bb8;
      color: white;
      border-radius: 999px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #a171b6;
    }

    .timeline {
      width: 100%;
      height: 6px;
      background: #455264;
      border-radius: 999px;
      cursor: pointer;
      position: relative;
      margin: 10px 0;
    }

    .progress {
      height: 100%;
      background: #a2beeb;
      border-radius: 999px;
      width: 0%;
    }

    .time {
      font-size: 12px;
      opacity: 0.8;
      display: flex;
      justify-content: space-between;
    }

    .volume {
      width: 100%;
    }